/.vs
/TuviBytesToEmailConverterLib/.vs
/TuviBytesToEmailConverterLib/TuviBase32EConverterLib/bin
/TuviBytesToEmailConverterLib/TuviBase32EConverterLib/obj
/TuviBytesToEmailConverterLib/TuviConverterTests/bin
/TuviBytesToEmailConverterLib/TuviConverterTests/obj
